@model IEnumerable<GrayBShop.Models.DetailProduct>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_LayoutClient.cshtml";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<style>
    .mySlides {
        display: none;
    }
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
</style>

    <div class="slide">

        <div class="mySlides">
            <img src="~/wwwroot/Images/BannerMix.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="~/wwwroot/Images/BannerConverse.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="~/wwwroot/Images/Bannervans.jpg" style="width:100%">
        </div>
    </div>



<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000); // Change image every 2 seconds
    }
</script>

<!--content-->
<div class="content">
    <div class="container">
        <!----TTin---->
        <div class="infor-product">
            <div class="item1">
                <img src="~/Assets/Client/images/iconfinder_truck_1291768-1.png">
                <div class="item1-content">
                    <h5>GIAO HÀNG TOÀN QUỐC</h5>
                    <p>Vận chuyển khắp Việt Nam</p>

                </div>
            </div>

            <div class="item1">
                <img src="~/Assets/Client/images/iconfinder_payment_1954199-3.png">
                <div class="item1-content">
                    <h5>THANH TOÁN KHI NHẬN HÀNG</h5>
                    <p>Nhận hàng tại nhà rồi thanh toán</p>
                </div>
            </div>

            <div class="item1">
                <img src="~/Assets/Client/images/iconfinder_service_repair_phone_mobile_wrench_screw_driver_4014703-1.png">
                <div class="item1-content">
                    <h5>BẢO HÀNH DÀI HẠN</h5>
                    <p>Bảo hành lên đến 60 ngày</p>
                </div>
            </div>

            <div class="item1">
                <img src="~/Assets/Client/images/iconfinder_refresh_3017918-1.png">
                <div class="item1-content">
                    <h5>ĐỔI HÀNG DỄ DÀNG</h5>
                    <p>Đổi hàng thoải mái trong 30 ngày</p>
                </div>
            </div>
        </div>

        <div class="content-top">
            <h1>TOP NHỮNG SẢN PHẨM MỚI NHẤT</h1>

            <div class="grid-in">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 grid-top" data-aos="zoom-in">
                        <a href="@Url.Action("DetailProduct","Product", new { id = item.ProductID, maImage = item.ImageID,madm = item.CategoryID })" class="b-link-stripe b-animate-go  thickbox">
                            @{ string filePath = "~/wwwroot/images/" + item.Images; }
                            <img class="img-responsive"
                                 src="@Url.Content(filePath)" alt="">
                            @if (item.SaleID != null)
                            {
                                <div class="sale">
                                    <p>@item.Sale.SalePercent %</p>
                                </div>
                             }
                        </a>

                        <div class="name">
                            <h3><a href="@Url.Action("DetailProduct","Product", new { id = item.ProductID, maImage = item.ImageID,madm = item.CategoryID })">@item.ProductName</a></h3>
                            <div class="cost-product">
                                @if (item.SaleID == null)
                                {

                                    <span></span><b>@string.Format(info, "{0:c0}", item.Price)</b>
                                }


                                @if (item.SaleID != null)
                                {
                                    decimal a = item.Sale.SalePercent/100;
                                    <del>@string.Format(info, "{0:c0}", item.Price)</del>
                                    <span></span><b>@string.Format(info, "{0:c0}",item.Price- (item.Price* item.Sale.SalePercent/100))</b>
                                }
                            </div>
                        </div>
                    </div>}

                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="content-top">
            <h2>TOP SẢN PHẨM BÁN CHẠY</h2>
            <div class="grid-in">
                @foreach (var item in ViewBag.ListHot)
                {
                    <div class="col-md-3 grid-top" data-aos="zoom-in">
                        <a href="@Url.Action("DetailProduct","Product", new { id = item.ProductID, maImage = item.ImageID,madm = item.CategoryID })" class="b-link-stripe b-animate-go  thickbox">
                            @{ string filePath = "~/wwwroot/images/" + item.Images; }
                            <img class="img-responsive"
                                 src="@Url.Content(filePath)" alt="">
                            @if (item.SaleID != null)
                            {
                                <div class="sale">
                                    <p>@item.Sale.SalePercent %</p>
                                </div>
                            }
                        </a>

                        <div class="name">
                            <h3><a href="@Url.Action("DetailProduct","Product", new { id = item.ProductID, maImage = item.ImageID,madm = item.CategoryID })">@item.ProductName</a></h3>
                            <div class="cost-product">
                                @if (item.SaleID == null)
                                {

                                    <span></span><b>@string.Format(info, "{0:c0}", item.Price)</b>
                                }


                                @if (item.SaleID != null)
                                {
                                    decimal a = item.Sale.SalePercent / 100;
                                    <del>@string.Format(info, "{0:c0}", item.Price)</del>
                                    <span></span><b>@string.Format(info, "{0:c0}", item.Price - (item.Price * item.Sale.SalePercent / 100))</b>
                                }
                            </div>
                        </div>
                    </div>}
                <div class="clearfix"> </div>


            </div>
            <br />
            <div class="content-top-center" data-aos="fade-right" data-aos-delay="100">
                <div class="introduce">
                    <p>
                        Hơn 6 năm phát triển, XSHOP luôn mang đến những mẫu giày chất lượng tốt nhất với giá cả hợp lí
                        nhất đến tay người tiêu dùng với hệ thống cửa hàng Số 1 Hà Nội và bán online khắp Việt Nam.
                    </p>

                    <div class="product-sold">
                        <SPAN>1 349 800</SPAN>
                        <p>SẢN PHẨM ĐÃ BÁN</p>
                    </div>


                </div>

                <div class="video">
                    <a href="https://www.youtube.com/watch?v=a1ILAowCiOw&list=TLGG3l7cyXWDlJEzMDExMjAyMQ&t=12s">
                        <img class="img-responsive"
                             src="~/Assets/Client/images/hqdefault.jpg">
                    </a>
                </div>



            </div>
            <div class="content-top">
                <h1>TIN TỨC MỚI NHẤT</h1>
                <div class="grid-in">
                    @foreach (var item in ViewBag.ListNewFeed)
                    {
                        <div class="col-md-4 grid-top" data-aos="flip-up" data-aos-delay="100">
                            <div class="col-md-4a">
                                <a href="@Url.Action("Single","NewFeed", new { ma = item.BlogID})" class="b-link-stripe b-animate-go thickbox">
                                    @{
                                        string ImagePath = "~/wwwroot/Images/" + item.Images;
                                    }
                                    <img src="@Url.Content(ImagePath)" width="100" height="300" class="img-responsive" />
                                    
                                    @*<div class="infor-fashion">
            <p>TIN TỨC THỜI TRANG</p>
        </div>*@
                                </a>

                                <div class="name1">
                                    <h3><a href="@Url.Action("Single","NewFeed", new { ma = item.BlogID})">@item.BlogName</a></h3>
                                    <div class="see-detail">
                                        <p>Xem chi tiết<span><i class="far fa-arrow-alt-circle-right"></i></span></p>
                                    </div>
                                </div>
                            </div>

                        </div>}

                    <div class="clearfix"> </div>
                </div>

            </div>
            <!------->
        </div>
        <!----->
        <!----->


    </div>



</div>